[submodule "fuzz/vendor/bip138-c"]
	path = fuzz/vendor/bip138-c
	url = https://github.com/ws-plaude/bip138-c.git
	branch = defer-ciphertext-len
[submodule "fuzz/vendor/bitcoin"]
	path = fuzz/vendor/bitcoin
	url = https://github.com/Sjors/bitcoin.git
	branch = wip-encrypted-backup
	shallow = true
